{
    border: 1px solid navy;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.5rem;
}
#root {
    height: 90vh;
    padding: 5vh;
    background: gray;
}
#header {
    color: rgb(106, 93, 223);
    height: auto;
    background: rgb(252, 249, 108);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
#main {
    background: rgb(209, 160, 55);
    display: flex;
    height: calc(100% - 30%);
}
#left-screen {
    width: 50%;
    background: rgb(53, 233, 62);
}
#right-screen {
    width: 50%;
    background: rgb(33, 198, 248);
    display: block;
    text-align: center;
}
#display-word {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
#display-letters {
    height: 50%;
}
#input-form {
    height: 10%;
}
.span-spacing {
    /* width: 10px; */
    /* display: flex; */
    /* align-self: auto; */
    padding: 0 5px;
}
.span-spacing:first-of-type {
    text-transform: capitalize;
}
.div-word {
    /* width: fit-content; */
}
.hide {
    color: rgb(33, 198, 248);
}
.show {
    display: block;
} 
span {
    box-shadow: 0px 1px 0px 0px black;
    /* box-shadow: 0 8px 5px -6px black; */
    margin: 1px;
    width: 25px;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    text-align: center;
}
input:focus {
    outline: none;
}
input:hover {
    box-shadow: 0 0 1px 5px gray;
}