html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 1.5rem;
}
#root {
    height: 100vh;
    padding: 0;
    background: gray;
}
#header {
    color: rgb(106, 93, 223);
    height: 20%;
    background: rgb(252, 249, 108);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
#main {
    background: rgb(209, 160, 55);
    display: flex;
    height: calc(100% - 20%);
}
#left-screen {
    width: 50%;
    background: rgb(53, 233, 62);
}
#right-screen {
    width: 50%;
    background: rgb(33, 198, 248);
    display: block;
    text-align: center;
}
#display-word {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
#display-letters {
    height: 50%;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, 1fr); */
    justify-content: center;
}
#input-form {
    height: 10%;
}
#p-error {
    display: none;
    font-size: .7rem;
    background: rgb(231, 81, 81);
    width: fit-content;
    margin: 3px auto;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.span-spacing {
    /* width: 10px; */
    /* display: flex; */
    /* align-self: auto; */
    padding: 0 5px;
}
.span-spacing:first-of-type {
    text-transform: capitalize;
}
.div-word {
    /* width: fit-content; */
}
.hide {
    color: rgb(33, 198, 248);
}
.show {
    display: block;
} 
span {
    box-shadow: 0px 1px 0px 0px black;
    /* box-shadow: 0 8px 5px -6px black; */
    margin: 1px;
    width: 25px;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    text-align: center;
    transition: all .5s ease;
}
input:focus {
    outline: none;
}
input:hover {
    transition: all .75s ease;
    box-shadow: 0 0 1px 5px gray;
}
#restart-div {
    position: absolute;
    left: calc(50vw - 55px);
    top: calc(50vh - 20px);
    display: none;
    transition: all .5s ease;
}
#restart-btn {
    font-size: 1.05rem;
    border-radius: 5px;
    outline: none;
    padding: 4px 15px;
    /* box-shadow: 0 0 10px 5px rgb(216, 131, 131); */
    transition: all .75s ease;
    box-shadow: 0px 1px 10px 1px rgb(182, 182, 182);
    border: none;
    background: rgb(209, 74, 74);
    color: rgba(0, 0, 0, 0.856);
}
#restart-btn:hover {
    /* box-shadow: 0px 0px 20px 10px ; */
    color:white;
    background: rgb(235, 84, 84);
    transform: scale(1.01);
    transition: all .25s ease-in;
    transform: translate(2px, -5px);
    box-shadow: -3px 3px 3px -2px gray;
    text-shadow: -1px 1px 3px gray;
}
/* #restart-btn: */
.letters {
    margin: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    transition: all .4s ease;
    background-color: white;
    box-shadow: none;
    border-radius: 20%;
}
.letters:hover {
    /* transform: scale(1.04); */
    transition: all .5s ease;
    border-radius: 40%;
    box-shadow: 0 0 10px 1px green;
    
}
.letters:active{
    transform: scale(.98);
    transition: all .4s ease;
}